@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Show all entities</h5>
                    <p class="card-text">Choose an entity to create a business</p>
                    <a class="btn btn-success card-link">Click here!</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Go to IDE</h5>
                    <p class="card-text">Go to entity and generate bussiness</p>
                    <a asp-controller="IDE" asasp-action="Index" class="btn btn-success card-link">Click here!</a>
                </div>
            </div>
        </div>
    </div>
</div>